<style>
    @import url(http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
    @import url(http://fonts.googleapis.com/css?family=Open+Sans);
</style>
<style>
    .container{
        font-family: 'Open Sans', sans-serif;
    }
    .yellow{
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        color : yellow;
        border-radius: 1px;
        width: 100px;
        height: 30px;
    }
    .red{
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        text-decoration: line-through;
        color : red;
        border-radius: 1px;
    }
    .bottom-offset{
        margin-bottom: 20px;
    }
    #image{
        padding-left: 50px;
        padding-bottom: 20px;
    }
    .name{
        font-size: 35px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <div class="bottom-offset">
                    <img id="image" src="/images/add.png">
                        <br />
                    <label for="sel1">Player's name:</label>
                    <input type="text" class="form-control" placeholder="Add player's name" autofocus #newplayer required/>
                        <br />
                    <label for="sel1" >Select player's league:</label>
                    <select class="form-control" #newleague required>
                      <option disabled selected> -- Choose League -- </option>
                      <option value="Ekstraklasa">Ekstraklasa</option>
                      <option value="Eredivisie">Eredivisie</option>
                      <option value="Champions League">Champions League</option>
                    </select>
                        <br />

                    <label for="sel1" >Select player's team:</label>
                    <select class="form-control" #newteam required>
                      <option disabled selected> -- Choose Team -- </option>
                      <option value="Lech Poznań">Lech Poznań</option>
                      <option value="FC Barcelona">FC Barcelona</option>
                      <option value="Manchester United">Manchester United</option>
                    </select>
                  
                        <br />
                    <button class="btn btn-primary" (click)="add(newplayer,newleague,newteam)">Add</button>
            </div>
            <div id="players">
            <div *foreach="#player in playerStore.playerList">
                <span class="name" [class.yellow]="player.yellow" [class.red]="player.red">{{player.name}}</span><br /> <span>{{player.league}} , {{player.team}}</span>
                <br />
                <input type="checkbox" [checked]="player.yellow" (click)="toggleYellow(player)"/> Yellow card <br>
                <input type="checkbox" [checked]="player.red" (click)="toggleRed(player)"/> Red card <br>
                <button class="btn btn-primary" (click)="remove(player)">Delete</button>
                <br />
                <br />
            </div>
            </div>
        </div>
        <div class="col-xs-4"></div>
    </div>
</div>